In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import mutual_funds as mf 

ifts = mf.get_funds(["TARAS_SHEVCHENKO"])
usd = mf.get_currency(["USD"])
usd

                USD
1990-01-01      NaN
1990-01-02      NaN
1990-01-03      NaN
1990-01-04      NaN
1990-01-05      NaN
...             ...
2024-12-23  41.8761
2024-12-24  41.9910
2024-12-25  41.9875
2024-12-26  41.8623
2024-12-27  41.8447

[12780 rows x 1 columns]